*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.posts .item {
  background-color: #f2f2f2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}