* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 576px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 8px;

        input, select {
            padding: 8px 12px;
            border: 1px solid black;
        }
    }
}

.btn {
    padding: 8px 12px;
    border: 1px solid black;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .item {
        img{
            width: 100%;
        }
    }
}